@font-face {
    font-family: 'Archivo SemiCondensed';
    src: url('ArchivoSemiCondensed-Bold.eot');
    src: url('ArchivoSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('ArchivoSemiCondensed-Bold.woff2') format('woff2'),
        url('ArchivoSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('ArchivoCondensed-ExtraBold.eot');
    src: url('ArchivoCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('ArchivoCondensed-ExtraBold.woff2') format('woff2'),
        url('ArchivoCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo SemiCondensed';
    src: url('ArchivoSemiCondensed-Medium.eot');
    src: url('ArchivoSemiCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('ArchivoSemiCondensed-Medium.woff2') format('woff2'),
        url('ArchivoSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

