.footer {
   background-color: var(--color-black);
   color: var(--color-white);
}

.container {
   max-width: 1425px;
   margin: 0 auto;

}

.headFooter {
   background-color: var(--color-red);
}

.head {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.figureFooter {
   width: 419px;
}

.imgFooter {
   display: block;
   width: 100%;
   object-fit: cover;
}

.buttons {
   display: flex;
   gap: 15px;
}

.button {
   background-color: var(--color-yellow-milani);
   color: var(--color-black);
   padding: 8px 16px;
   border-radius: 6px;
   font-size: 21px;
   font-weight: bold;

   display: flex;
   align-items: center;
   gap: 10px;
}

.hojaFigure {
   width: 66px;
   height: 66px;
   /* border: 1px solid white; */
   border-radius: 50%;

   display: flex;
   justify-content: center;
   align-content: center;
}

.hoja {
   display: block;
   width: 80%;
   height: 80%;
   object-fit: cover;
}

.tailFooter {
   background-color: var(--color-black);
}

.tail {
   /* border: 1px solid white; */
   padding: 50px 0;
}

.tailTitle {
   font-size: 36px;
   font-weight: 700;
}

.tailCont {
   display: flex;
   flex-direction: column;
   gap: 44px;
}

.firstBlock {
   display: flex;
   gap: 64px;
}

.categoryTitle {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 12px;
}

.childCategory {
   color: var(--color-grey1);
   font-size: 16px;
}

.contChildsCategory {
   display: flex;
   flex-direction: column;
   gap: 7px;
}

.secondBlock {
   display: flex;
   justify-content: space-between;
   align-content: center;
}

.secondBlock1 {
   display: flex;
   align-items: end;
   gap: 43px;
}

.bloquecito {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.bloquecitoChild {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.empresa {

}

.number {
   font-size: 24px;
   font-weight: bold;
   color: var(--color-grey1);

}

.email {
   color: var(--color-grey1);
   font-size: 17px;
}

.secondBlock2 {
   display: flex;
   align-items: center;
   /* border: 1px solid white; */
}


.tuerquita {
   display: flex;
   justify-content: center;
   align-items: center;

}

.turquitaImg {

}

.tuerquitaText {
   color: var(--color-grey1);
}


.thirdBlock {
   color: var(--color-grey1);
   display: flex;
   flex-direction: column;
   gap: 12px;
   font-size: 16px;
}

.span {
   color: var(--color-yellow-milani);
}