/* Definicion de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');




@font-face {
    font-family: 'Archivo SemiCondensed Bold';
    src: url('../public/fonts/ArchivoSemiCondensed-Bold.eot');
    src: url('../public/fonts/ArchivoSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ArchivoSemiCondensed-Bold.woff2') format('woff2'),
        url('../public/fonts/ArchivoSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed ExtraBold';
    src: url('../public/fonts/ArchivoCondensed-ExtraBold.eot');
    src: url('../public/fonts/ArchivoCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ArchivoCondensed-ExtraBold.woff2') format('woff2'),
        url('../public/fonts/ArchivoCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo SemiCondensed Medium';
    src: url('../public/fonts/ArchivoSemiCondensed-Medium.eot');
    src: url('../public/fonts/ArchivoSemiCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ArchivoSemiCondensed-Medium.woff2') format('woff2'),
        url('../public/fonts/ArchivoSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo SemiCondensed ExtraBold';
    src: url('../public/fonts/ArchivoSemiCondensed-ExtraBold.eot');
    src: url('../public/fonts/ArchivoSemiCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ArchivoSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('../public/fonts/ArchivoSemiCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




:root {
/* font */
--font-primary: font-family: "Archivo", sans-serif;

/* colors*/
--color-white: #fff;
--color-black: #000;
--color-red: #CE2229;
--color-grey1: #808080;
--color-grey2: #949494;
--color-yellow-milani: #FFC527;

--header-height: 143px;
}


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


html,body {
background-color: var(--color-grey1);
font-family: var(--font-primary);
}


/* ============================================
TITULOS SEGÚN TABLA OFICIAL DE FIGMA
============================================ */




/* ============================================
PARRAFOS Y TIPOGRAFÍA BASE
============================================ */


p {
font-family: var(--font-primary) !important;
font-weight: 400 !important;
}

strong {
font-family: var(--font-primary) !important;
font-weight: bold !important;
}

ul {
/* para los dropdown */
margin: 0 !important;
}

li {
list-style: none;
}

.location-btn__text p {
padding-bottom: 0 !important;
}

/* 🔧 Fix para Salient / WPBakery responsivo */
/* @media only screen and (max-width: 999px) {
.container-wrap {
min-width: auto !important;
width: 100% !important;
}
} */

/* 🩵 Fix para contenedores del theme Salient en headless React */
.container,
.container-wrap {
width: 100% !important;
/* max-width: 100% !important; */
min-width: auto !important;
}

@media only screen and (max-width: 999px) {
.container,
.container-wrap {
width: 100% !important;
max-width: 100% !important;
min-width: auto !important;
}
}