/* Estilos para header */
/* === ESTILO BASE === */
header {
  background-color: #ce212a;
  font-family: "Archivo SemiCondensed";
  color: var(--color-white);
}

.header-container {
  position: relative;
  max-width: 1425px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* === LOGO === */
.logo-block {
   width: 440px;
}

.logo {
   display: block;
   width: 100%;
   object-fit: cover;
}

/* === MENÚS === */
.menus {
   /* border: 1px solid white; */
   display: flex;
   flex-direction: column;
   /* color: var(--color-white); */
   gap: 33px;
}

.top-menu {
   /* border: 1px solid green; */
   display: flex;
   gap: 15px;
   align-items: center;
}

.top-menu a {
  color: #fff;
  text-decoration: none;
}

.top-menu a:hover {
  /* text-decoration: underline; */
}

.link {
   color: var(--color-white);
   text-decoration: none;
   padding-bottom: 10px;
}

.active {
   color: var(--color-yellow-milani) !important;
   border-bottom: 3px solid var(--color-yellow-milani);
}         

.search-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.main-menu {
   padding-bottom: .5rem;
   display: flex;
   justify-content: end;
   gap: 19px;
}

/* estilos header below */
.header-below {
  background-color: var(--color-black);
  padding: 24px 0;
}

.header-below__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header-below__headline {
  color: var(--color-white);
}

.header-below__headline span {
  color: var(--color-yellow-milani);
}

.header-below__details {
  display: flex;
  align-items: center;
  gap: 40px;
}

.location-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
  background-color: var(--color-black);
  border: 1px solid var(--color-yellow-milani);
  cursor: pointer;
}

.location-btn__text {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.location-btn__text p{
  margin-bottom: 0 !important;
}

.location-btn__label {
  font-size: 12px;
}

.location-btn__city {
  font-size: 22px;
  font-weight: 500;
}
.header-below__subtitle {
  color: var(--color-white);
}

.buttons-header {
  display: flex;
  gap: 19px;
}

.location-tooltip {
  background-color: var(--color-white);
  position: absolute;
  padding: 10px;
  top: 100%;
  left: 10px;
  margin-top: 23px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 350px;
  z-index: 1000;
  /* opacity: 0;
  visibility: hidden; */
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

/* Flecha del tooltip */
.location-tooltip::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 100px;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid var(--color-white);
}

.location-btn-wrapper:hover .location-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.location-tooltip__title {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 8px !important;
  line-height: 1.3;
}

.location-tooltip__description {
  font-size: 18px;
  font-weight: 300;
  color: var(--color-black);
  margin-bottom: 10px !important;
  line-height: 1.4;
}

.location-tooltip__buttons {
  display: flex;
  gap: 10px;
}

.tooltip-btn {
  flex: 1;
  padding: 10px 16px;
  border: 1px solid var(--color-red);
  color: var(--color-red);
  border-radius: 4px;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tooltip-btn--primary {
  flex: 2;
}

.tooltip-btn--primary:hover {
  background: var(--color-red);
  color: var(--color-white);
}

.tooltip-btn--secondary {
  /* background: transparent; */
}

.tooltip-btn--secondary:hover {
  background: var(--color-red);
  color: var(--color-white);
}


/* ZIP MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* max-height: 400px; */
}

.modal {
  background: var(--color-white);
  border-radius: 10px;
  padding: 40px;
  width: 100%;
  max-width: 636px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-red);
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal__title {
  color: var(--color-black);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20rem;
}

.modal__subtitle {
  font-size: 20px;
  color: var(--color-black);
  margin-bottom: 1.5rem;
}

.zip-form {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  border-radius: 6px;
  padding: 0.3rem;
}

.zip-form__input {
  flex: 1;
  border: 0;
  background: transparent;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
}

.zip-form__input:focus {
  outline: none;
}

.zip-form__btn {
  background: var(--color-red) !important;
  color: #fff;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 600;
  cursor: pointer;
}

.zip-results {
  /* border: 1px solid; */
  /* overflow-y: scroll; */
}

.zip-results__header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.zip-results__header p {
  margin-bottom: 0 !important;
  font-size: 16px;
  color: var(--color-black);
}

.zip-results__options {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.zip-results__option {
  color: var(--color-black);
  display: flex;
  align-items: center;
  gap: 8px;
}

.zip-results__option input[type="radio"] {
  accent-color: var(--color-red);
  transform: scale(1.2);
}

.zip-results__confirm {
  background: var(--color-red);
  color: var(--color-white);
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 600;
  cursor: pointer;
  padding: 6px 10px;
  margin: 0 auto;
}

/* Opcional: ocultar pipes en móvil */
@media (max-width: 640px) {
  .link-main:not(:last-child)::after { content: none; }
}

/* === ICONO HAMBURGUESA (oculto en desktop) === */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
}


/* ELEMENTO DROPDOWN */

.main-menu {
  list-style: none;
  position: relative;
}
.menu-item-top {
  position: relative;
  list-style: none;
}

.menu-item {
  position: relative;
  /* border: 1px solid; */
}

/* agrega el “pipe” a todos menos al último */
.menu-item:not(:last-child)::after {
  content: "|";
  margin-left: 19px;      /* espacio entre texto y pipe */
  color: var(--color-white); /* evita heredar el color del enlace activo */
}



.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  display: none;
  background: rgb(219, 71, 71);
  border-radius: .5rem;
  min-width: 180px;
  padding: 8px 0;
  z-index: 100;
}

.dropdown li {
  list-style: none;
}

.dropdown.show {
  display: block;
}

.dropdown-link {
  display: block;
  padding: 8px 15px;
  color: var(--color-white);
  text-decoration: none;
}

.dropdown-link:hover {
  background: rgb(227, 176, 176);
}





/* === PANEL MÓVIL (oculto por defecto) === */
.mobile-menu {
  display: none;
}

.close-btn {
  display: none;
}

/* === RESPONSIVE: MOBILE (≤1300px) === */
@media (max-width: 1250px) {
  .logo-block {
    width: 300px;
  }
  .menus {
      gap: 10px;
      padding: 15px 0;
  }
}
@media (max-width: 1000px) {
  .top-menu {
    flex-direction: column;
    order: 1;
    align-items: flex-start;
    border-top: 1px solid white;
    padding-top: 15px;
  }
  .main-menu a {
    font-size: 30px !important;
    color: white !important;
  }
  .main-menu {
    flex-direction: column;
    justify-content: center;
  }
  .close-btn {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 1100; /* Aseguramos que esté encima de otros elementos */
  }
  .menus {
    width: 100%;
    right: 0;
    position: fixed; /* Cambié a fixed para que el menú quede sobre el contenido */
    top: -100%;
    right: 0; /* El menú empieza fuera de la pantalla */
    background: #ce2229;
    padding: 30px;
    transition: top 0.3s ease; /* Transición para deslizar el menú */
    z-index: 1000; /* Para asegurarnos de que el menú esté encima de otros elementos */
  }

  .menus.active {
    top: 0; /* Cuando se activa, el menú aparece desde la derecha */
  }

  .menu-toggle {
    display: flex;
  }
  nav.menus.active::after {
      width: 200px;
      content: "";
      height: 50px;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='200' height='51' viewBox='0 0 200 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.1'%3E%3Cpath d='M0 50.9079V0.00738525H18.4631L25.1849 30.0937H25.2881L32.2532 0.00738525H50.4214V50.9079H38.0022L39.3214 11.0041H39.2256L29.9978 50.9079H20.3277L11.3947 11.0041H11.1958L12.4266 50.9079H0Z' fill='white'/%3E%3Cpath d='M67.8894 0.00738525H54.9321V50.9153H67.8894V0.00738525Z' fill='white'/%3E%3Cpath d='M73.292 50.9079V0.00738525H86.3524V40.7514H102.258V50.9079H73.292Z' fill='white'/%3E%3Cpath d='M104.513 50.9079L116.638 0H132.344L144.373 50.9079H131.216L129.447 41.0387H119.188L117.669 50.9079H104.513ZM124.546 9.23522H124.347L120.566 32.0099H128.128L124.546 9.23522Z' fill='white'/%3E%3Cpath d='M157.927 22.3916L157.779 22.5832L158.951 50.9079H146.635V0.00738525H160.035L170.096 28.5237H170.243L169.019 0.00738525H181.439V50.9079H168.083L157.927 22.3916Z' fill='white'/%3E%3Cpath d='M199.01 0.00738525H186.053V50.9153H199.01V0.00738525Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      bottom: 0;
      right: 0;
  }

  .mobile-menu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 320px;
    height: 100vh;
    background-color: #c5181b;
    color: #fff;
    padding: 2rem 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    overflow-y: auto;
    z-index: 1000;
  }

  .mobile-menu.open {
    display: flex;
  }

  .mobile-main a,
  .mobile-top a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .mobile-main a {
    font-weight: 600;
  }

  .mobile-top a {
    font-size: 1rem;
  }

  .mobile-menu hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 1rem 0;
  }

  .headFooter img.imgFooter {
    max-width: 215px;
    margin: auto;
  }
  .headFooter .buttons {
    flex-wrap: wrap;
  }

  .headFooter .buttons .button:nth-child(3) {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
  .headFooter .head {
    padding-top: 30px;
  }
}










/* ESTILOS DEL FOOTER */

.headFooter {
   background-color: var(--color-red);
}

.head {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.figureFooter {
   width: 419px;
}

.imgFooter {
   display: block;
   width: 100%;
   object-fit: cover;
}

.buttons {
   display: flex;
   gap: 15px;
}

.button {
   background-color: var(--color-yellow-milani);
   color: var(--color-black);
   padding: 8px 16px;
   border-radius: 6px;
   font-size: 24px;
   border: none;
   font-weight: bold;
  cursor: pointer;
   display: flex;
   align-items: center;
   gap: 10px;
}



.footer {
  background-color: var(--color-black);
  padding: 50px;
}

.container {
  max-width: 1425px;
  margin: 0 auto;
}

.footer-header {
  margin-bottom: 44px;
}

.footer-header h4 {
  color: var(--color-white);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 64px;
  margin-bottom: 44px;
}

.service-column h3 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 12px !important;
  color: var(--color-white);
}

.service-column.with-border {
  border-left: 1px solid #666666;
  padding-left: 64px;
}

.service-column ul {
  margin: 0;
}

.service-column ul li {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-grey2);
  line-height: 1.5;
  list-style: none;
}

.contact-section {
  display: flex;
  flex-direction: row !important;
  align-items: end !important;
  gap: 30px;
  margin-bottom: 44px;
  /* border: 1px solid white; */
}

.contact-info {
  padding-left: 0 !important;
}

.contact-info h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-white);
  margin-bottom: 3px;
}

.contact-info .phone {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #aeaeae;
}

.contact-info .email {
  font-size: 16px;
  font-weight: 500;
  color: #ccc;
}

.bbb-figure {
  width: 64px;
}

.bbb-figure img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.badges {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.bbb-badge {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #000;
  font-size: 12px;
}

.tsbc-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: #ccc;
}

.tsbc-info {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey2);
}

.icon-gear {
  width: 40px;
  height: 40px;
  border: 2px solid #666;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.canadian-business {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  margin: 0;
}

.canadian-business span {
  color: var(--color-white);
  font-size: 28px;
  font-weight: 500;
}

.contact-box1 {
  display: flex;
  align-items: end;
  gap: 43px;
}

.footer-bottom {
  font-size: 16px;
  color: var(--color-grey2);
}

.footer-bottom p {
  margin-bottom: 10px;
}

.footer-bottom span {
  color: var(--color-yellow-milani);
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .header-below .header-container {
    flex-wrap: wrap;
  }
  .header-below .header-container .header-below__headline {
    font-size: 15px;
  }
  .header-below .header-container .header-below__subtitle {
    font-size: 15px;
  }
  .header-below__info {
    gap: 8px;
    margin-bottom: 10px;
  }
  .location-btn__city {
    font-size: 18px;
  }
  .buttons-header div,
  .buttons-header button.button {
    font-size: 20px;
  }
  button.location-btn {
     min-width: 180px;
  }
  .footer {
    padding: 30px 0 80px 0;
    position: relative;
  }
  .footer::after {
      width: 200px;
      content: "";
      height: 50px;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='200' height='51' viewBox='0 0 200 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.1'%3E%3Cpath d='M0 50.9079V0.00738525H18.4631L25.1849 30.0937H25.2881L32.2532 0.00738525H50.4214V50.9079H38.0022L39.3214 11.0041H39.2256L29.9978 50.9079H20.3277L11.3947 11.0041H11.1958L12.4266 50.9079H0Z' fill='white'/%3E%3Cpath d='M67.8894 0.00738525H54.9321V50.9153H67.8894V0.00738525Z' fill='white'/%3E%3Cpath d='M73.292 50.9079V0.00738525H86.3524V40.7514H102.258V50.9079H73.292Z' fill='white'/%3E%3Cpath d='M104.513 50.9079L116.638 0H132.344L144.373 50.9079H131.216L129.447 41.0387H119.188L117.669 50.9079H104.513ZM124.546 9.23522H124.347L120.566 32.0099H128.128L124.546 9.23522Z' fill='white'/%3E%3Cpath d='M157.927 22.3916L157.779 22.5832L158.951 50.9079H146.635V0.00738525H160.035L170.096 28.5237H170.243L169.019 0.00738525H181.439V50.9079H168.083L157.927 22.3916Z' fill='white'/%3E%3Cpath d='M199.01 0.00738525H186.053V50.9153H199.01V0.00738525Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      bottom: 0;
      right: 0;
  }

  .footer .container {
    max-width: 90% !important;
  }

  .head {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 40px; 
}
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .service-column:last-child {
    grid-column: 1 / -1;
  }

  .service-column.with-border {
    border-left: none;
    border-top: 1px solid #555;
    padding-left: 0;
    padding-top: 25px;
    margin-top: 25px;
  }

  .contact-section {
    flex-direction: column !important;
    align-items: start !important;
    gap: 15px;
  }

  .canadian-business {
    margin-top: 0;
  }

  .canadian-business span {
    font-size: 16px;
  }

  .footer-bottom {
    font-size: 14px;
    color: var(--color-grey2);
  }
}

@media (min-width: 769px) {
  .services-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .contact-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .canadian-business {
    margin-left: auto;
  }
}



/* PAOLO */
.container-wrap {
    padding-bottom: 0 !important;
}
.footer .services-grid li a {
  color: #808080;
}


